@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/web/fonts/material.woff2) format('woff2');
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 48
}

body{
    background-color: rgb(237, 230, 230);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-warning {
    color: #dc6300!important;
}

.btn-flat.btn {
    padding: 0!important;
}

.btn-primary {
    --bs-btn-bg: #6610f2!important;
    --bs-btn-border-color: #6610f2!important;
    --bs-btn-hover-bg: #6610f2!important;
    --bs-btn-hover-border-color: #6610f2!important;
    --bs-btn-active-bg:#6610f2!important;
    --bs-btn-active-border-color: #6610f2!important;
    --bs-btn-disabled-bg: #a274eb!important;
    --bs-btn-disabled-border-color: #a274eb!important;
}

.text-bold{
    font-weight: 600;
}

.relative-position{
    position: relative;
}

.absolute{
    position: absolute;
}

table {
    table-layout: fixed;
}

table td, table th {
    white-space: auto;
    font-size: 10pt;
}

table td.wrap-cell, table th.wrap_cell {
    white-space: normal;
}

.sticky-header {
  thead tr th{
    position: sticky;
    z-index: 1;
  }

  thead tr:first-child th{
     background-color: rgb(235 235 235);
     top: 0;
  } 

  tbody {
     scroll-margin-top: 48px;
  }
   
}

.sticky-footer {
  tfoot tr:last-child{
    position: sticky;
    bottom: 0;
    z-index: 101;
  }

  tfoot tr:last-child td{
    background-color: rgb(235 235 235);
  }
}

.table-wrapper {
    overflow-y: scroll;
    height: 90%;
    display: flex;
    flex-direction: column;
}