/*LOGIN FORM*/
.login-form{
    padding: 50px;
    background-color: rgb(236 226 226);
    border-radius: 0 25px 25px 0;
    min-height: 700px;
}

.login-page{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 15px 15px 0;
    background-image: url("../icons/bg/login2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 65vw;
    max-width: 1200px;
}
